<section class='color-demo'>
  <h1>Color and style (components/color-demo.hbs)</h1>
  <div>
    Icon with style (red):
    <iconizza-icon
      icon='dashicons:admin-users'
      style='color: red'
      inline
    ></iconizza-icon>
  </div>
  <div>
    Icon size (2em):
    <iconizza-icon
      icon='dashicons:admin-users'
      height='2em'
      style='color: purple'
      inline
    ></iconizza-icon>
  </div>
</section>
